<!-- android/app/src/main/AndroidManifest.xml -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.luter.android16clean">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Zapytania o pakiety kalkulatora (widoczność na Android 11+) -->
    <queries>
        <package android:name="com.android.calculator2" />
        <package android:name="com.sec.android.app.popupcalculator" />
        <package android:name="com.google.android.calculator" />
    </queries>

   <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="Android 16 Clean Edition"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false">

<activity
    android:name=".MainActivity"
    android:exported="true"
    android:launchMode="singleTask"
    android:configChanges="keyboardHidden|orientation|screenSize|uiMode"
    android:screenOrientation="portrait">

    <intent-filter>
        <!-- Główne wejście do apki -->
        <action android:name="android.intent.action.MAIN" />

        <!-- 1) Ikona w szufladzie aplikacji -->
        <category android:name="android.intent.category.LAUNCHER" />

        <!-- 2) Kandydat na ekran główny (launcher) przy HOME -->
        <category android:name="android.intent.category.HOME" />

        <!-- 3) Wymagane dla implicit intents / HOME -->
        <category android:name="android.intent.category.DEFAULT" />
    </intent-filter>

</activity>

    </application>

</manifest>
